---
- fail:
    msg: "Please specify the a tag: deprovision, install or upgrade"
  tags: always
  when: ansible_run_tags[0] == "all"

- name: Check Operating System
  shell: uname
  register: uname_result
  tags: [install, upgrade]

- name: Check if required Kube or OpenShift variables are defined
  fail: msg="Please specify either OpenShift or Kubernetes variables in inventory"
  when: openshift_user is undefined and openshift_token is undefined and kubernetes_context is undefined
  tags: always

- include_tasks: check_openshift.yml
  when: openshift_host is defined and openshift_host != ''
  tags: always

- include_tasks: check_kubernetes.yml
  when: kubernetes_context is defined and kubernetes_context != ''
  tags: always

- name: Check if inventory file variables are defined
  fail: msg="Please specify the value of {{item}} in your inventory file"
  tags: always
  when: "{{item}} is undefined or {{item}} == ''"
  with_items:
    - pgo_namespace
    - target_namespaces
    - pgo_username
    - pgo_password
    - ccp_image_prefix
    - ccp_image_tag 
    - pgo_image_prefix
    - pgo_image_tag
    - auto_failover
    - backrest 
    - badger
    - metrics
    - archive_mode 
    - archive_timeout
    - auto_failover_sleep_secs
    - db_password_age_days
    - db_password_length
    - db_port
    - db_replicas
    - db_user
    - backup_storage
    - primary_storage
    - replica_storage
    - storage1_access_mode 
    - storage1_size
    - storage1_type
    - storage2_access_mode 
    - storage2_size
    - storage2_type
    - storage3_access_mode 
    - storage3_size
    - storage3_type
